<h1>Restaurants#edit</h1>
<p>Find me in app/views/restaurants/edit.html.erb</p>

<%= render "form_restaurant", restaurant: @restaurant, review: @review %>
<%# <%= link_to 'Show', restaurant, class: "btn btn-primary" %> %>
<%= link_to 'Back', root, class: "btn btn-primary" %>
