<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= render "form_review", restaurant: @restaurant, review: @review %>
<%= link_to 'Back', restaurant_reviews_path, class: "btn btn-primary" %>
